div
  h2 Crear Producto
  div(id="productFormError")
  form(id="productForm")
    div.mb-3
      label(for="title" class="form-label") Nombre
      input(type="text" id="title" class="form-control")
    div.mb-3
      label(for="price" class="form-label") Precio
      input(type="text" id="price" class="form-control")
    div.mb-3
      label(for="thumbnail" class="form-label") Foto 
      input(type="text" id="thumbnail" class="form-control")
    button(class="btn btn-success") Crear Producto
