<header class="container p-0 pt-4 pb-4">
  <ul class="nav">
    <li class="nav-item">
      <a href="/" class="nav-link"> Lista de Productos</a>
    </li>
    <li class="nav-item">
      <a href="/crearProducto" class="nav-link">Crear Producto </a>
    </li>
  </ul>
</header>
