.card 
  .card-body
    form(id="loginForm")
      h2 Login de Usuario
      label(class="form-label", for="userName") Ingrese su nombre
      input(type="text", name="userName", id="userName", class="form-control")
      button(type="submit", class="btn btn-primary mt-2 mb-2") Enviar
